<ion-header>
    <ion-navbar color="danger">
      
    </ion-navbar>
  </ion-header>
  
  <ion-content padding>
    <ion-item text-center no-lines>
      <ion-icon name="logo-rss" class="logo" color="light"></ion-icon>
    </ion-item>
  
    <ion-item text-center no-lines>
      <h1>feedly</h1>
      <h6>An app for continuous feed</h6>
    </ion-item>
  
    <ion-grid style="width:75%;">

        <ion-row class="rowStyle">
            <ion-icon name="person" color="danger"></ion-icon>
            <ion-input type="text" placeholder="Your Name" [(ngModel)]="name"> </ion-input>
          </ion-row>

      <ion-row class="rowStyle">
        <ion-icon name="mail" color="danger"></ion-icon>
        <ion-input type="email" placeholder="Your Email" [(ngModel)]="email"> </ion-input>
      </ion-row>
  
      <ion-row class="rowStyle">
        <ion-icon name="key" color="danger"></ion-icon>
          <ion-input type="password" placeholder="Your Password" [(ngModel)]="password"> </ion-input>
      </ion-row>
  
      <ion-row>
        <button ion-button block round outline color="light" (click)="signup()"
         style="margin-top: 20px;">  Sign Up </button>
      </ion-row>
    </ion-grid>
  
    <button ion-button block round clear color="light" (click)="toLogin()"
         style="margin-top: 20px;"> Already have an account? Log in! </button>
  
  </ion-content>